@font-face {
  font-family: 'gotham-black';
  src: url('/fonts/Gotham-Black.otf') format('truetype');
}
@font-face {
  font-family: 'gotham-bold';
  src: url('/fonts/Gotham-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'gotham';
  src: url('/fonts/GothamMedium.ttf') format('truetype');
}


.gotham-black {
  font-family: gotham-black;
}
.gotham-bold {
  font-family: gotham-bold;
}
.gotham {
  font-family: gotham;
}
* {
  scroll-behavior: smooth;
}

.cardsShadow{
  box-shadow:
    rgba(220, 220, 220, 0.5) 0px 0px 1px 10px,
    rgba(215, 215, 215, 0.35) 0px 0px 1px 14px,
    rgba(210, 210, 210, 0.22) 0px 0px 1px 18px,
    rgba(205, 205, 205, 0.13) 0px 0px 1px 24px,
    rgba(200, 200, 200, 0.07) 0px 0px 1px 30px;
}